opencv-python==3.2.0.6
jupyter
matplotlib
pandas
numpy
pillow
scipy
tqdm
scikit-learn
scikit-image
seaborn
h5py
ipykernel
bokeh
pickleshare
jupyter-server>=2.7.2 # not directly required, pinned by Snyk to avoid a vulnerability
jupyter-core>=5.8.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
